.centrality {
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
}
.container {
  width: 100%;
}
.container .introduced {
  padding: 20px 10px;
  position: relative;
}
.container .introduced .intr-user {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #F0F0F0;
  overflow: hidden;
  margin-right: 20px;
}
.container .introduced .intr-user img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .introduced .intro-word {
  overflow: hidden;
}
.container .introduced .intro-word h3 {
  font-weight: 600;
  font-size: 20px;
}
.container .introduced .intro-word ul li {
  padding: 0 10px 0 0;
  height: 40px;
  line-height: 20px;
  float: left;
  cursor: pointer;
}
.container .introduced .intro-word ul li span {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #000;
}
.container .introduced .intro-word ul li a {
  color: #969696;
  cursor: pointer;
}
.container .introduced .tofollow {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #75D7B0;
  border-radius: 40px;
  color: #fff;
  text-align: center;
}
.container .introduced .tofollow:hover {
  opacity: 0.7;
}
.container .trigger-menu {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.container .trigger-menu li {
  float: left;
  padding: 0 18px;
  border-bottom: 2px solid transparent;
}
.container .trigger-menu li:hover {
  border-bottom: 2px solid #646464;
}
.container .trigger-menu li a {
  color: #969696;
  font-size: 20px;
}
.container .trigger-menu li a:hover {
  color: #646464;
}
.container .trigger-menu li a i {
  margin-right: 10px !important;
}
.container .trigger-menu .active {
  border-bottom: 2px solid #646464;
}
.container .trigger-menu .active a {
  color: #646464;
}
.author-info {
  overflow: hidden;
}
.writings .writing-item .item-con {
  width: 83%;
}
